#form{
    background: #fff;
    margin: 100px auto;
    width: 80%;
    padding: 15px 30px 30px 30px;
}
.tab p{
    font-size: 20px;
    margin: 0 0 10px 0;
    
}
input   {
   
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaa;
    box-sizing: border-box;
    border-radius: 20px;
}
  textarea{
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaa;
    box-sizing: border-box;
}
.index-btn-wrapper {
        display: flex;
        justify-content: flex-end; /* Align button to the right */
    }
.index-btn{
    margin: 20px 15px 0 0;
    background: #5F58BF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}
.index-btn:hover{
   opacity: 0.8;
}
.step{
    display: inline-block;
height: 33px;
width: 47px;
background: #5F58BF;
color: white;
border-radius: 30%;
line-height: 35px;
margin: 0 2px;
opacity: 0.25;
}
.active {
        
        opacity: 1;
}
.input-group {
display: flex;
justify-content: space-between;
margin-bottom: 20px;
gap: 20px;
}

.input-wrapper {
flex: 1;
margin-right: 10px;
}

.input-wrapper:last-child {
margin-right: 0;
}

.input-wrapper label {
display: block;
margin-bottom: 5px;
}
.input-wrapper-2 {
flex: 1;
margin-right: 10px;
}

.input-wrapper-2:last-child {
margin-right: 0;
}

.input-wrapper-2 label {
display: block;
margin-bottom: 5px;
}

.input-wrapper input {
width: 100%;
}
.input-wrapper-2 input {
width: 15%;
}
input[type="radio"].demo2 {
display: none;
}
input[type="radio"].demo2 + label {
padding: 0.5rem 1rem;
/* font-size: 1.25rem; */
line-height: 1.5;
border-radius: 0.3rem;
color: #fff;
background-color: #6c757d;
border: 1px solid transparent;
transition: all 0.5s ease-in-out;
width: 68px;
height: 39px;
cursor: pointer;

}
input[type="radio"].demo2.demoyes:hover + label {
background-color: #5F58BF;
border-color: #5F58BF;
}
input[type="radio"].demo2.demoyes:checked + label {
background-color: #5F58BF;
border-color: #5F58BF;
}
input[type="radio"].demo2.demono:hover + label {
background-color: #5F58BF;
border-color: #5F58BF;
}
input[type="radio"].demo2.demono:checked + label {
background-color: #5F58BF;
border-color: #5F58BF;
}
#pourcentages{
    padding: 0 31px;
    margin-top: -138px;
}
